
 .bkgd{
    


	background-image:url(photo1.jpg);

	background-size: cover;
}


.carousel {

height:100px; width: 500px; border-style: solid;

}





.team{

	background-image:url(office.jpg) ;

	
	background-size: cover;
}

